<!DOCTYPE html>
<html>
    <%- include('header') %>
    <body>
        <div class="container">
            <h1><%= pageTitle %></h1>
            <form method="POST" action="/blogs">
                <%- include("_form_fields") %>
            </form>
            <%- include('footer') %>
        </div>
    </body>
</html>